/.scrutinizer.yml export-ignore
/phpcs.xml export-ignore
/phpdoc.dist.xml export-ignore
/phpunit.xml export-ignore
/doc/ export-ignore
/examples/ export-ignore
/src/CLI.php export-ignore
/src/OpenAPI/ export-ignore
/tests/ export-ignore
