*.cache
.cache
**/.env
**/.env.*
**/!.env.example
**/dist/
**/node_modules/
**/vendor/
**/var/*
!**/var/README.md
!**/var/*.example.*
/coverage/
/examples/**/composer.lock
/packages/**/composer.lock
/tools
